{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">

		{{ form_start(form) }}

		<div class="form-group row">
			{{ form_label(form.apiKey, null, {label_attr : {'class' : 'col-sm-3 col-form-label'}}) }}
			<div class="col-sm-6">
				{{ form_widget(form.apiKey, {attr : {'class' : 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group row">
			{{ form_label(form.apiKeyTest, null, {label_attr : {'class' : 'col-sm-3 col-form-label'}}) }}
			<div class="col-sm-6">
				{{ form_widget(form.apiKeyTest, {attr : {'class' : 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group row">
			{{ form_label(form.canceledStatus, null, {label_attr : {'class' : 'col-sm-3 col-form-label'}}) }}
			<div class="col-sm-6">
				{{ form_widget(form.canceledStatus, {attr : {'class' : 'form-control'}}) }}
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 offset-sm-3">
				<div class="form-check ">
					{{ form_widget(form.testMode, {attr : {'class' : 'form-check-input'}}) }}
					{{ form_label(form.testMode, null, {label_attr : {'class' : 'form-check-label'}}) }}
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 offset-sm-3">
				<div class="form-check ">
					{{ form_widget(form.devEnv, {attr : {'class' : 'form-check-input'}}) }}
					{{ form_label(form.devEnv, null, {label_attr : {'class' : 'form-check-label'}}) }}
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 offset-sm-3">
				<div class="form-check ">
					{{ form_widget(form.updateStatuses, {attr : {'class' : 'form-check-input'}}) }}
					{{ form_label(form.updateStatuses, null, {label_attr : {'class' : 'form-check-label'}}) }}
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 offset-sm-3">
				<div class="form-check ">
					{{ form_widget(form.useCustomStatuses, {attr : {'class' : 'form-check-input'}}) }}
					{{ form_label(form.useCustomStatuses, null, {label_attr : {'class' : 'form-check-label'}}) }}
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 offset-sm-3">
				<input type="submit" value="{% trans %}app.configure.button.save{% endtrans %}" class="btn btn-success">
			</div>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}