{% extends 'base.html.twig' %}
{% block body %}

	<div class="container">
		<div class="float-right">{{ knp_pagination_render(logs) }}</div>
	</div>

	<div class="col-12">
		<table class="table js-result">
			<thead>
				<tr>
					<th>{% trans %}app.logs.table.date{% endtrans %}</th>
					<th>{% trans %}app.logs.table.url{% endtrans %}</th>
					<th>{% trans %}app.logs.table.request{% endtrans %}</th>
					<th>{% trans %}app.logs.table.response{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for log in logs %}
					<tr>
						<td>
							<div class="alert alert-success">{{ log.method }}</div>
							{{ log.createAt.format('d.m.Y H:i:s') }}
						</td>
						<td>
							{{ log.url|replace({'ru//' : 'ru<br>/'})|raw }}
						</td>
						<td>
							<pre><code data-language="json">{{ log.requestPrint }}</code></pre>
						</td>
						<td class="response">
							<pre><code data-language="json">{{ log.responsePrint }}</code></pre>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="container">
		<div class="float-right">{{ knp_pagination_render(logs) }}</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript" src="{{ asset('js/rainbow-custom.min.js') }}" ></script>
{% endblock %}
{% block stylesheets %}

	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/rainbow.css') }}" />
{% endblock %}