<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% for item in items %}
				<li class="nav-item{% if item.active %} active{% endif %}">
					<a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<span class="navbar-text">
			<a href="http://{{ shop.shop }}" class="nav-back-to-shop">{% trans %}app.shop.returnToShop{% endtrans %}</a>
		</span>
	</div>
</nav>