{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}
	<div class="container">

		<p></p>

		<h4>{% trans %}widget.order.title{% endtrans %} {{ order.orderNumber }}</h4>

		<p></p>

		<div class="alert alert-info">
			{% trans %}widget.order.error.payment{% endtrans %}
		</div>
	</div>
{% endblock %}