{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}
	<div class="container">

		<p></p>

		<form action="" method="post">
			<input type="hidden" name="token" value="{{ csrf_token('csrf_token') }}">


			<h4>{% trans %}widget.order.title{% endtrans %} {{ order.orderNumber }}</h4>

			{% if errors|length > 0 %}
				{% for error in errors %}
					<div class="alert-danger alert">
						{{ error }}
					</div>
				{% endfor %}
			{% endif %}

			{% if deal is instanceof('\\App\\Entity\\Deal')  %}

				{% if status is instanceof('\\App\\Entity\\NalozhkaStatus')  %}
					<div class="form-group row">
						<label class="col-12 col-form-label">
							{% trans %}widget.order.deal.status{% endtrans %}:
							{{ status.title }}
						</label>
					</div>
				{% endif %}

				{% if trackings|length > 0 %}
					<h4>{% trans %}widget.order.label.tracking{% endtrans %}</h4>

					{% for tracking in trackings %}
						{% if deliveryProviders[tracking.provider].title is defined %}
							<div class="form-group row">
								<div class="col-3 col-form-label">
									{{ deliveryProviders[tracking.provider].title }}
								</div>
								<div class="col-4 col-form-label">
									{{ tracking.trackNumber }}
								</div>
								<div class="col-3 col-form-label">
									<div class="float-right">
										<a class="btn btn-danger" href="?token={{ csrf_token('remove') }}&action=removeTrack&id={{ tracking.id }}">{% trans %}widget.order.track.remove{% endtrans %}</a>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}

					<h4>{% trans %}widget.order.label.add-tracking{% endtrans %}</h4>

					<div class="form-group row">
						<label class="col-3 col-form-label">
							{% trans %}widget.order.track.title{% endtrans %}
						</label>
						<div class="col-6">
							<select name="provider" class="form-control">
								{% for provider in deliveryProviders %}
									<option value="{{ provider.provider }}">{{ provider.title }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-3 col-form-label">
							{% trans %}widget.order.track.field{% endtrans %}
						</label>
						<div class="col-6">
							<input type="text" required="required" class="form-control" name="trackNumber" value="">
						</div>
					</div>


					<div class="form-group row">
						<div class="col-6 offset-3">
							<input type="submit" value="{% trans %}widget.order.track.add{% endtrans %}" class="btn-success btn" />
						</div>
					</div>
				{% endif %}
			{% else %}
				<p></p>
				<div class="alert-info alert">
					{% trans %}widget.order.deal.no-start{% endtrans %}
				</div>
			{% endif %}
		</form>
	</div>
{% endblock %}