{% extends 'base.html.twig' %}
{% block body %}

	<div class="container">
		<form method="post">


			<div class="form-group row">
				<label class="col-sm-3 col-form-label">{% trans %}app.configure.statuses.nalozhka.title{% endtrans %}</label>
				<label class="col-sm-6 col-form-label">{% trans %}app.configure.statuses.insales.title{% endtrans %}</label>
			</div>

			{% for nalozhkaStatus in statuses %}
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">{{ nalozhkaStatus.title }}</label>
					<div class="col-sm-6">
						<select name="statuses[{{ nalozhkaStatus.id }}]" class="form-control">
							<option value="">Не использовать</option>
							{% for insalesStatus in nalozhkaStatus.statuses %}
								<option{% if insalesStatus.selected %} selected="selected"{% endif %} value="{{ insalesStatus.permalink }}">{{ insalesStatus.title }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}

			<div class="form-group row">
				<div class="col-sm-6 offset-sm-3">
					<input type="submit" value="{% trans %}app.configure.button.save{% endtrans %}" class="btn btn-success">
				</div>
			</div>
		</form>
	</div>
{% endblock %}