{% extends 'base.html.twig' %}

{% block header %}
	{% if shop and shop is defined and shop is instanceof('\\App\\Entity\\Shop') %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block body %}

	<div class="container session-end">
		<h3>{% trans %}exception.page404.h1{% endtrans %}</h3>
		<div class="alert-danger alert">
			{% trans %}exception.page404.text{% endtrans %}
		</div>
	</div>
{% endblock %}