*
{
	font-size: 13px;
	font-family: 'Exo 2', sans-serif;
}

body
{
	padding-bottom: 30px;
}

header
{
	margin-bottom: 30px;
}

header .logo
{
	background: url("images/logo.png") no-repeat;
	height: 79px;
	margin-top: 30px;
}

header a.nav-back-to-shop:hover
{
	text-decoration: none;
}

.bg-light
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.session-end
{
	margin-top: 30px;
}

div.js-search-location-container .ui-widget-content a
{
	color: #495057;
	font-size: 13px;
}

div.js-search-location-container .ui-widget-content
{
	background: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin-left: 15px;
	margin-top: 30px;
}

div.js-search-location-container .ui-state-focus
{
	border: none;
	background: #eaeaea;
	border-radius: 0;
	font-size: 13px;
	margin: 0;
	font-weight: normal;
}

.alert.alert-default
{
	background: rgba(52, 152, 219, 0.86);
	color: #fff;
}

.pay-url,
.pay-url:hover
{
	color: #fff;
	text-decoration: underline;
}