{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}

	<div class="container">
		<div class="alert-danger alert session-end">
			<h3>{% trans %}session.end.h3{% endtrans %}</h3>
			<div>{% trans %}session.end.text{% endtrans %}</div>
		</div>
	</div>
{% endblock %}