{% if pageCount > 1 %}
	<nav aria-label="" class="add_top_20">
		<ul class="pagination pagination-sm">
			{% if previous is defined %}
				<li class="page-item">
					<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">«</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link">
						<span>«</span>
					</a>
				</li>
			{% endif %}

			{% for page in pagesInRange %}
				{% if page != current %}
					<li class="page-item">
						<a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					</li>
				{% else %}
					<li class="active"><a class="page-link">{{ page }}</a></li>
				{% endif %}
			{% endfor %}

			{% if next is defined %}
				<li class="page-item">
					<a  class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">»</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link">
						<span>»</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}