<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
	    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700&amp;subset=cyrillic,latin-ext" rel="stylesheet">
	    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
	    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
	        <header>
		        <div class="container">
			        <div class="logo"></div>
			        {{ render(controller('\\App\\Controller\\Application::menuWidget', {'route' : app.request.attributes.get('_route')})) }}
		        </div>
	        </header>
        {% endblock %}

        {% block body %}{% endblock %}

        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>