{% extends 'base.html.twig' %}
{% block header %}
	<header>
		<div class="container">
			<div class="logo"></div>
		</div>
	</header>
{% endblock %}
{% block body %}
	<form method="GET" action="{{ payment.url }}" name="payment">

		{% for name,value in payment.fields %}
			<input type="hidden" name="{{ name }}" value="{{ value }}" />
		{% endfor %}

		<div class="container">
			<div class="alert-info alert alert-default">
				{% trans %}payment.page.text{% endtrans %}
			</div>
		</div>
	</form>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(
			function()
			{
				setTimeout(
					function()
					{
						$('form[name="payment"]').submit();
					},
					2000
				);

				$('a.pay-url').click(
					function (e)
					{
						$('form[name="payment"]').submit();
						e.preventDefault();
					}
				)
			}
		);
	</script>

{% endblock %}