{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}

	<div class="container">
		<div class="alert-danger alert session-end">
			<h3>{% trans %}payment.start.error.title{% endtrans %}</h3>
			<div>{% trans %}payment.start.error.text{% endtrans %}</div>
		</div>
	</div>
{% endblock %}