{% extends 'base.html.twig' %}
{% block header %}
	<header>
		<div class="container">
			<div class="logo"></div>
		</div>
	</header>
{% endblock %}
{% block body %}

	<form action="http://{{ deal.shop.shop }}/payments/external/{{ deal.shop.paymentId }}/success" method="post" name="pay-success">
		{% for code, value in fields %}
			<input type="hidden" name="{{ code }}" value="{{ value }}">
		{% endfor %}
		<input type="submit" style="display: none">
	</form>

	<div class="container">
		<div class="alert-info alert alert-default">
			{% trans %}payment.page.text{% endtrans %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(
			function()
			{
				setTimeout(
					function ()
					{
						$('form[name="pay-success"]').submit();
					},
					2000
				);
			}
		);
	</script>
{% endblock %}